html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(to bottom, rgba(245, 140, 128, 1) , rgba(135, 134, 192, 1));
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn{
    background-color: #8657fc;
    border: none;
}

.btn:hover{
    background-color: #f58c80;
    border: none;
    transform: scale(1.03);
}